
body { 
    background: url(../images/108819.jpg) no-repeat center center fixed; 
    background-size: cover;
}

header {
    margin-left: 15%;
    margin-top: 10px;
}

h1 {
    
    text-align: center;
    padding-top: 5px;
    color: white;
}

.container {
    height: 80vh;
    color: white;
    font-size: 17px;
}

.row {
    padding-top: 20px;
}

.instructions {
    margin-left: 15px;
}

#theSum {
    height: 15vh;
    font-size: 35px;
    text-align: center;
    padding-top: 25px;
}

h5 {
    padding-top: 15px;
}

.winLoss {
    height: 15vh;
    
}

#crystal1 {
    height: 10vh;
    
}

#crystal2 {
    height: 10vh;
    
}

#crystal3 {
    height: 10vh;
    
}

#crystal4 {
    height: 10vh;
    
}

#scoreText {
    height: 5vh;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}

#totalSum {
    height: 10vh;
    text-align: center;
    padding-top: 20px;
    font-size: 35px;
}